#FIO{
    color: rgb(144, 144, 218);
    background-color: bisque;
    text-align: center;
}

#EL{
    color: rgb(216, 114, 114);
    font-family: 'Times New Roman', Times, serif;
    background-color: bisque;
}
